*.project
*.pydevproject
*.pyc
*.DS_Store
*.log
Rwd/*.csv

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
venv
out
tests
pysite
rlibs
example/output
codeship.aes
deploy.env
build.env
dev.env
*.egg-info/
